<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css">
</head>
<body>
<div class="body">
    <div class="header-container">
        <div class="image-container">
            <img src="/images/icon.png">
        </div>
        <div class="header-title">江苏移动AAA运维系统</div>
    </div>
    <div class="login-main">
        <div class="form-container">
            <div class="form-title">管理员登录</div>
            <div class="form-tip">用户名</div>
            <div class="input-container">
                <div>
                    <input type="text" name="admin" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="form-tip">密码</div>
            <div class="input-container">
                <div>
                    <input type="password" name="password" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="button-container">
                <button class="layui-btn layui-btn-normal">登录</button>
            </div>
            <div class="form-footer">
                <span href="#" class="tip-text left">注册账号</span>
                <span href="#" class="tip-text right">忘记密码</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="text">亚信安全版权所有@</div>
    </div>
</div>
</body>
</html>